extends layout

block content
  h1= title
  nav
    a(href="/new")
      button(type="button" class="newMessageBtn") New Message 

  h2 Messages
  ul(class = "messagesList")
    each message in messages
      li=message.text

